@font-face {
  font-family: 'SFUIText-Bold';
  src: url('../fonts/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUIText-Bold.otf')  format('opentype'),
	     url('../fonts/SFUIText-Bold.woff') format('woff'), url('../fonts/SFUIText-Bold.ttf')  format('truetype'), url('../fonts/SFUIText-Bold.svg#SFUIText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText-Heavy';
  src: url('../fonts/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUIText-Heavy.otf')  format('opentype'),
	     url('../fonts/SFUIText-Heavy.woff') format('woff'), url('../fonts/SFUIText-Heavy.ttf')  format('truetype'), url('../fonts/SFUIText-Heavy.svg#SFUIText-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText-Regular';
  src: url('../fonts/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUIText-Regular.otf')  format('opentype'),
	     url('../fonts/SFUIText-Regular.woff') format('woff'), url('../fonts/SFUIText-Regular.ttf')  format('truetype'), url('../fonts/SFUIText-Regular.svg#SFUIText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText-Semibold';
  src: url('../fonts/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUIText-Semibold.otf')  format('opentype'),
	     url('../fonts/SFUIText-Semibold.woff') format('woff'), url('../fonts/SFUIText-Semibold.ttf')  format('truetype'), url('../fonts/SFUIText-Semibold.svg#SFUIText-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIText-Medium';
  src: url('../fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/SFUIText-Medium.otf')  format('opentype'),
	     url('../fonts/SFUIText-Medium.woff') format('woff'), url('../fonts/SFUIText-Medium.ttf')  format('truetype'), url('../fonts/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AbsaraSans-Medium';
  src: url('../fonts/AbsaraSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/AbsaraSans-Medium.otf')  format('opentype'),
	     url('../fonts/AbsaraSans-Medium.woff') format('woff'), url('../fonts/AbsaraSans-Medium.ttf')  format('truetype'), url('../fonts/AbsaraSans-Medium.svg#AbsaraSans-Medium') format('svg');
  font-weight: normal;
}
